@import url("style-head.css");
/*トップ画面サイズ調整*/
.top_img{
    width: 80%;
    height: auto;
    /*text-align: center;*/
}
.top_box{
    max-width: 70%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}


/*検索ボックスデザイン*/
.search{
    width: 20%;
    height: 30px;
}
/*検索ボックス位置*/
.search_box{
    padding: 3px;
    width: 800px;
}
.form_btn{
    background: rgba(0,0,0,0);
}

.material-icons.large-size{
    font-size: 28px;
    color: #a27e73;
}
